body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }

  main {
    max-width: 100%;
    margin: 18px;
    font-size: 18px;
  }
  
  article {
    width: 98%;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    min-width: 50%;
    height: auto;
    width: 100%;
    max-height: 880px;
    border-radius: 10px;
    margin-bottom: 2%;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  